// 컬러
@import "./color";

// 폰트
@import "./fonts";

// 일반
@import "./common";

//home
@import  "./home";

//core
@import "./layout/GNB_Left";
@import "./layout/Top";
@import "./layout/Login";

//component
@import "./component/Select";
@import "./component/Input";

//page
@import "./page/LoginPage";