
.login-circle {
    position: fixed;
    z-index: 1;
    margin-left: calc( 50vw - 600px );
    margin-top: calc( 10vh - 50px );
    border-radius: 500px;
    width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $Outline_20p;
    background: rgb(255,255,255,0.85);
    backdrop-filter: blur(20px);
    box-shadow: 100px 100px 100px rgb(0,0,0,0.15);
}

.primary-circle {
    background: $primary_linear;
    box-shadow: 50px 50px 80px rgb(0,0,0,0.25);
    position: fixed;
    border-radius: 100%;
}

.circle{
    &1 {
        margin-left: calc( 30vw - 600px );
        margin-top: calc( 40vh );
        width: 1000px;
        height: 1000px;
    }
    &2 {
        margin-left: calc( 40vw - 300px );
        margin-top: calc( 40vh - 200px );
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    &3 {
        margin-left: calc( 50vw + 50px );
        margin-top: calc( 40vh - 200px );
        width: 250px;
        height: 250px;
        border-radius: 125px;
    }
    &4 {
        margin-left: calc( 100vw - 330px );
        margin-top: calc( 0vh - 280px );
        width: 475px;
        height: 475px;
        border-radius: 300px;
    }
    &5 {
        margin-left: calc( 75vw + 50px );
        margin-top: calc( 75vh - 100px );
        width: 175px;
        height: 175px;
        border-radius: 300px;
    }
    &-platform {
        z-index: 2;
        margin-left: calc( 50vw + 50px );
        margin-top: calc( 55vh - 130px );
        padding: 100px 50px;
        width: 412px;
        height: 312px;
        &-wonho {
            font-size: 60px;
           
            font-weight: 100;
            line-height: 120%;
        }
        &-platform {
            font-size: 25px;
            font-weight: bold;
            font-family: 'R';
            letter-spacing: 30px;
            line-height: 120%;
            margin-left: 10px;
        }
        &-ver {
            font-size: 15px;
        }
        &-updated {
            font-size: 13px;
            opacity: 50%;
        }
    }
}
